---
import Layout from '../layouts/Layout.astro';
import BaseHeader from '../components/BaseHeader.astro';
import AboutBg from '../partials/AboutBg.astro';
---

<Layout title="Welcome to Astro." pageType="about">
  <BaseHeader />
  <main class="main">
    <AboutBg />
  </main>
</Layout>

<style lang="scss">
  @import '../styles/_single';

  .main {
    width: vw(1200);
    padding: vw(110) 0;
    margin: auto;

    @include sp() {
      width: 100%;
      padding: 0 vw_sp(30);
    }
  }

  .test {
    position: relative;
    top: -35rem;
    font-size: vw(80);
    color: #ffffff;
  }
</style>
