---
import Layout from '../layouts/Layout.astro';
import IndexBlogs from '../partials/IndexBlogs.astro';
import IndexMv from '../partials/IndexMv.astro';
import IndexAbout from '../partials/IndexAbout.astro';
import IndexSkills from '../partials/IndexSkills.astro';
import IndexContact from '../partials/IndexContact.astro';
---

<Layout title="Welcome to Astro." pageType="top">
  <main class="main">
    <IndexMv />
    <IndexBlogs />
    <IndexSkills />
    <IndexAbout />
    <IndexContact />
  </main>
</Layout>

<style lang="scss">
  @import '../styles/_single';

  .main {
    font-family: $font-family-termina;

    @include sp() {
      width: 100%;
      padding: 0 vw_sp(30);
    }
  }
</style>
