---
import { getTop } from '../libs/macrocms';
import Layout from '../layouts/Layout.astro';
import PageSearch from '../partials/PageSearch.astro';

const topData = await getTop({
  fields: ['metaInfo'],
});

const { metaInfo } = topData;
---

<Layout {...metaInfo} pageType="search">
  <main class="main">
    <PageSearch />
  </main>
</Layout>

<style lang="scss">
  @import '../styles/_single.scss';
</style>
