---
---

<header class="header">
    <div class="bg"></div>
    <div class="inner">
        <h1 class="test">test</h1>
    </div>
</header>

<style lang="scss">
    @import '../styles/_single.scss';
    .header {
        height: vw(100);
        width: 100%;
        border-bottom: 8px #ffb4b4 solid;
        position: sticky;
        top: 0;
        backdrop-filter: blur(10px);
        z-index: 999;
    }

    .inner {
        font-size: vw(20);
        color: #fff;
        width: vw(1200);
        margin: auto;
    }
</style>
