---
import { mv } from '../script/mv.js';
---

<div class="wapper_img">
    <div class="slider js-slider">
        <div class="slider__inner js-slider__inner"></div>
        <div class="slide js-slide"></div>
        <div class="slide js-slide"></div>
        <div class="slide js-slide"></div>
        <nav class="slider__nav js-slider__nav">
            <div class="slider-bullet js-slider-bullet">
                <span class="slider-bullet__text js-slider-bullet__text"
                    >01</span
                >
                <span class="slider-bullet__line js-slider-bullet__line"></span>
            </div>
            <div class="slider-bullet js-slider-bullet">
                <span class="slider-bullet__text js-slider-bullet__text"
                    >02</span
                >
                <span class="slider-bullet__line js-slider-bullet__line"></span>
            </div>
            <div class="slider-bullet js-slider-bullet">
                <span class="slider-bullet__text js-slider-bullet__text"
                    >03</span
                >
                <span class="slider-bullet__line js-slider-bullet__line"></span>
            </div>
        </nav>
        <div class="scroll js-scroll">Scroll</div>
    </div>
</div>

<script></script>

<style lang="scss">
    @import '../styles/_single.scss';

    .wapper_img .slider {
        height: 230px;
    }
    .slider__nav.js-slider__nav,
    .scroll {
        display: none;
    }
</style>
