---
import ImageWrapper from '../components/ImageWrapper.astro';
interface Props {
  title: {
    url: string;
    width: number;
    height: number;
  };
}

const { title } = Astro.props;
---

<h2 class="title">
  <ImageWrapper
    src={title.url}
    width={title.width}
    height={title.height}
    alt=""
    classValue="h-100"
  />
</h2>

<style lang="scss">
  @import '../styles/_single';

  .title {
    height: vw(80);
    text-align: center;
  }
</style>
