---
import ImageWrapper from './ImageWrapper.astro';
import Nav from '../components/Nav.astro';
import * as Variables from '../variables.astro';
import { getTop } from '../libs/macrocms';

const logData = await getTop({
  fields: ['logo'],
});

const logo = logData.logo;

const topLInk = Variables.PAGES.index.url;
---

<header class="header">
  <div class="bg">
    <div class="inner">
      <h1 class="title">
        <a class="link" href={topLInk}
          ><img
            src={logo.url}
            alt=""
            width={logo.width}
            height={logo.height}
          /></a
        >
      </h1>
    </div>
  </div>
</header>
<!-- <Nav /> -->

<style lang="scss">
  @import '../styles/_single';

  .root {
    position: relative;
  }

  .bg {
    background-color: $color-base-black;
  }

  .inner {
    padding: vw(30) 0 vw(30) vw(30);
  }

  .title {
    display: inline-block;
    height: 20px;
  }

  .link {
    display: block;
    height: 100%;
  }

  img {
    display: block;
    height: 100%;
  }
</style>
