---
interface Props {
  background?: string;
}

const { background } = Astro.props;
---

<section class="root">
  <div class="bg" data-background={background}>
    <div class="inner">
      <slot />
    </div>
  </div>
</section>

<style lang="scss">
  @import '../styles/_single';

  .bg {
    &[data-background='gray'] {
      background-color: $color-base-gray;
    }
  }

  .inner {
    width: vw(1280);
    padding: vw(80) 0 vw(100);
    margin: auto;
    border-right: 1px solid $color-base-white;
    border-left: 1px solid $color-base-white;

    [data-background='gray'] & {
      border-right: 1px solid $color-base-black;
      border-left: 1px solid $color-base-black;
    }
  }
</style>
