---
import ImageWrapper from '../components/ImageWrapper.astro';
import ViewElement from '../components/ViewElement.astro';
import AnimationBlur from '../components/AnimationBlur.astro';

interface Props {
  title: {
    url: string;
    width: number;
    height: number;
  };
  position?: string;
}

const { title, position } = Astro.props;
---

<ViewElement ratio="-20%">
  <AnimationBlur>
    <h2 class="title" data-position={position ? 'left' : ''}>
      <ImageWrapper
        src={title.url}
        width={title.width}
        height={title.height}
        alt=""
        classValue="h-100"
      />
    </h2>
  </AnimationBlur>
</ViewElement>

<style lang="scss">
  @import '../styles/_single';

  .title {
    height: vw(80);
    text-align: center;

    @include sp() {
      height: vw_sp(40);

      &[data-position='left'] {
        text-align: left;
      }
    }
  }
</style>
