---
import * as Variables from '../variables.astro';
import { getTop } from '../libs/macrocms';
import Search from './Search.astro';

const logData = await getTop({
  fields: ['topTitles'],
});

const logo = logData.topTitles.logo;
const topLInk = Variables.PAGES.index.url;
---

<header class="header" id="top">
  <div class="bg">
    <div class="inner">
      <h1 class="title">
        <a class="link" href={topLInk}
          ><img
            src={logo.url}
            alt=""
            width={logo.width}
            height={logo.height}
          /></a
        >
      </h1>
      <div class="search">
        <Search />
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  @import '../styles/_single';
  .bg {
    background-color: $color-base-black;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: vw(30) vw(50) vw(30) vw(30);

    @include sp() {
      padding: vw_sp(15) vw_sp(15) vw_sp(15) vw_sp(15);
    }
  }

  .title {
    display: inline-block;
    height: 20px;

    @include sp() {
      height: vw_sp(15);
    }
  }

  .link {
    display: block;
    height: 100%;
  }

  img {
    display: block;
    height: 100%;
  }

  .search {
    position: relative;
    top: -3px;

    @include sp() {
      top: -4px;
    }
  }
</style>
