---
import { Icon } from 'astro-icon';
import ViewElement from '../components/ViewElement.astro';
import AnimationBlur from '../components/AnimationBlur.astro';

interface Props {
  type: string;
  link: string;
  text: string;
}

const { type, link, text } = Astro.props;
---

<ViewElement ratio="-20%">
  <AnimationBlur>
    <button class="root" data-type={type}>
      <a href={link} class="link">
        <div class="inner">
          <p class="text">{text}</p>
          <div class="image">
            <Icon name="arrow" />
          </div>
        </div>
      </a>
    </button>
  </AnimationBlur>
</ViewElement>

<style lang="scss">
  @import '../styles/_single';

  .root {
    position: relative;
    width: 100%;
    height: vw(76);
    transition: 0.3s;

    @include sp() {
      height: vw_sp(55);
    }

    &[data-type='gray'] {
      color: $color-base-black;
      border: 2px solid $color-base-black;

      @include sp() {
        border: 1px solid $color-base-black;
      }

      @include hover() {
        color: $color-base-white;
        background-color: $color-base-black;
        border: 2px solid $color-base-white;

        @include sp() {
          border: 1px solid $color-base-white;
        }

        .image {
          right: vw(25);
        }
      }
    }

    &[data-type='black'] {
      color: $color-base-white;
      border: 2px solid $color-base-white;

      @include sp() {
        border: 1px solid $color-base-white;
      }

      @include hover() {
        color: $color-base-black;
        background-color: $color-base-white;
        border: 2px solid $color-base-black;

        @include sp() {
          border: 1px solid $color-base-black;
        }

        .image {
          right: vw(25);
        }
      }
    }
  }

  .link {
    display: block;
    height: 100%;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .text {
    font-size: vw(16);
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1;

    @include sp() {
      font-size: vw_sp(12);
    }
  }

  .image {
    position: absolute;
    top: 50%;
    right: vw(35);
    width: vw(21);
    transition: right 0.3s;
    transform: translateY(-50%);

    @include sp() {
      right: vw_sp(25);
      width: vw_sp(13);
    }
  }
</style>
