---
import { Icon } from 'astro-icon';
interface Props {
  type: string;
  link: string;
  text: string;
}

const { type, link, text } = Astro.props;
---

<button class="root" data-type={type}>
  <a href={link} class="link">
    <div class="inner">
      <p class="text">{text}</p>
      <div class="image">
        <Icon name="buttonArrow" />
      </div>
    </div>
  </a>

  <style lang="scss">
    @import '../styles/_single';

    .root {
      position: relative;
      width: vw(330);
      height: vw(76);

      &[data-type='gray'] {
        color: $color-base-black;
        border: 2px solid $color-base-black;
      }
    }
    .link {
      display: block;
      height: 100%;
    }

    .inner {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .text {
      font-size: vw(16);
      font-weight: 700;
      letter-spacing: 0.02em;
    }

    .image {
      position: absolute;
      top: 50%;
      right: vw(30);
      transform: translateY(-50%);
      width: vw(21);
    }
  </style>
</button>
