---
interface Props {
  color?: string;
  current: number;
  total: number;
}

const { color, current, total } = Astro.props;
---

<div class="root" data-color={color}>
  <div class="heading">
    <p class="current">{current}</p>
    <span class="border">|</span>
    <p class="total">{total}</p>
  </div>
  <p class="text">PAGES</p>
</div>

<style lang="scss">
  @import '../styles/_single';

  .root {
    color: $color-base-white;

    &[data-color='black'] {
      color: $color-base-black;
    }
  }

  .heading {
    display: flex;
    gap: vw(4);
    align-items: baseline;
    justify-content: center;
    line-height: 1;

    @include sp() {
      flex-direction: column;
      gap: 0;
      align-items: center;
    }
  }

  .current {
    font-size: vw(30);
    font-weight: 700;

    @include sp() {
      font-size: vw_sp(18);
      line-height: 1;
    }
  }

  .border {
    font-size: vw(30);

    @include sp() {
      font-size: vw_sp(10);
      line-height: 1;
      transform: rotate(90deg);
    }
  }

  .total {
    font-size: vw(14);
    font-weight: 700;

    @include sp() {
      font-size: vw_sp(8);
      line-height: 1;
    }
  }

  .text {
    font-size: vw(16);
    font-weight: 700;
    letter-spacing: -0.04em;

    @include sp() {
      margin-top: vw_sp(7);
      font-size: vw_sp(5);
      line-height: 1.65;
      writing-mode: vertical-rl;
      text-orientation: upright;
    }
  }
</style>
