---
import { getTop, getBlogs } from "../libs/macrocms";

const MvData = await getTop({
  fields: ["MvTitle", "MvSubTitle", "MvCatch"],
});
---

<section class="root">
  <div class="inner">
    <h2 class="title">About</h2>
    <p class="text">Web Developer</p>
    <p class="text">Front End Engineer</p>
  </div>
</section>

<style lang="scss">
  @import "../styles/_single";

  .root {
    position: relative;
    z-index: 10;
    padding: 4rem 0 0;
  }

  .title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-align: center;
  }

  .text {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-align: center;
  }
</style>
