---
import { getTop } from '../libs/macrocms';
import BaseTitle from '../components/BaseTitle.astro';
import ViewElement from '../components/ViewElement.astro';
import AnimationBlur from '../components/AnimationBlur.astro';

const topData = await getTop({
  fields: ['topTitles'],
});

const contactTitle = topData.topTitles.contactTitle;
const toTopTitle = topData.topTitles.toTopTitle;

console.log(topData);
---

<div class="root">
  <div class="bg">
    <ViewElement ratio="-20%" loop={true}>
      <AnimationBlur>
        <div class="inner">
          <div class="contact">
            <BaseTitle title={contactTitle} />
          </div>
          <div class="toTop">
            <BaseTitle title={toTopTitle} />
          </div>
        </div>
      </AnimationBlur>
    </ViewElement>
  </div>
</div>

<style lang="scss">
  @import '../styles/_single';

  .root {
  }

  .bg {
    background-color: $color-base-white;
  }

  .inner {
    width: vw(1348);
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: $color-base-black;
    text-align: center;
  }
</style>
