---
import { getTop, getBlogs } from '../libs/macrocms';

const MvData = await getTop({
    fields: ['MvTitle', 'MvSubTitle', 'MvCatch'],
});
---

<section class="root">
    <div class="inner">
        <h2 class="title">
            <p>今井 裕一</p>
            <p>Imai Yuichi</p>
            <p>Web Developer</p>
            <p>Front End Engineer</p>
        </h2>
    </div>
</section>

<style lang="scss">
    @import '../styles/_single.scss';
    .root {
        position: relative;
        z-index: 10;
        padding: vw(80) 0 0;
    }

    .title {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        color: #fff;
    }
</style>
