---
---

<section class="root">
  <div class="inner">
    <h2 class="title">My Slills</h2>
    <p class="text">HTML</p>
    <p class="text">CSS</p>
    <p class="text">JavaScript</p>
  </div>
</section>

<style lang="scss">
  @import '../styles/_single';

  .root {
    position: relative;
    z-index: 10;
    padding: 4rem 0 0;
  }

  .title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-align: center;
  }

  .text {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    text-align: center;
  }
</style>
