---
import { getTop, getBlogs } from '../libs/macrocms';
import * as Variables from '../variables.astro';
import BaseLayout from '../components/BaseLayout.astro';
import BaseTitle from '../components/BaseTitle.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button.astro';
import ViewElement from '../components/ViewElement.astro';
import AnimationBlur from '../components/AnimationBlur.astro';

const topData = await getTop({
  fields: ['topTitles'],
});

const BlogData = await getBlogs({
  fields: ['id', 'title', 'eyecatch', 'category'],
  limit: 5,
});

const title = topData.topTitles.blogTitle;
const data = BlogData.contents;
---

<BaseLayout
  background="gray"
  id="NewTopics"
  color="black"
  current={2}
  total={4}
>
  <BaseTitle title={title} />
  <div class="container">
    <ViewElement ratio="-20%">
      <AnimationBlur>
        <div class="blogs splide">
          <div class="splide__track">
            <div class="splide__list">
              {
                data.map((data: any) => {
                  return <Card BlogData={data} splide={true} />;
                })
              }
            </div>
          </div>
        </div>
      </AnimationBlur>
    </ViewElement>
    <div class="button">
      <Button type="gray" link={Variables.PAGES.blog.url} text="READ MORE" />
    </div>
  </div>
</BaseLayout>

<script>
  import { SplideSlide } from '../script/module/splide';
  SplideSlide();
</script>

<style lang="scss">
  @import '../styles/_single';

  .blogs {
    margin: vw(30) 0 0;
  }

  .button {
    width: vw(330);
    margin: vw(65) auto 0;
    text-align: center;
  }
</style>
<style lang="scss" is:global>
  @import '../styles/_single';

  .splide__arrows {
    svg {
      display: none;
    }
  }

  .splide__arrow--prev {
    position: relative;
    bottom: vw(-565);
    left: vw(60);
    z-index: 100;
    width: vw(76);
    height: vw(76);
    border-radius: 50%;
    transition: 0.3s;

    @include hover() {
      background-color: $color-base-black;

      &::before {
        background: url('../icons/arrow-slider.svg') no-repeat center;
      }
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 100;
      width: vw(76);
      height: vw(76);
      content: '';
      background: url('../icons/arrow.svg') no-repeat center;
      border: 1px solid $color-base-black;
      border-radius: 50%;
      transition: 0.3s;
      transform: rotate(180deg) !important;
    }

    &::after {
      position: absolute;
      bottom: vw(-18);
      left: vw(15);
      z-index: 100;
      width: vw(50);
      height: vw(20);
      font-weight: 700;
      content: 'Prev';
    }
  }

  .splide__arrow--next {
    position: relative;
    bottom: vw(-565);
    left: vw(85);
    z-index: 100;
    width: vw(76);
    height: vw(76);
    border-radius: 50%;
    transition: 0.3s;

    @include hover() {
      background-color: $color-base-black;

      &::before {
        background: url('../icons/arrow-slider.svg') no-repeat center;
      }
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 100;
      width: vw(76);
      height: vw(76);
      content: '';
      background: url('../icons/arrow.svg') no-repeat center;
      border: 1px solid $color-base-black;
      border-radius: 50%;
      transition: 0.3s;
    }

    &::after {
      position: absolute;
      bottom: vw(-18);
      left: vw(15);
      z-index: 100;
      width: vw(50);
      height: vw(20);
      font-weight: 700;
      letter-spacing: 0.02em;
      content: 'Next';
    }
  }

  // .splide__slide {
  //   opacity: 0.3;
  //   transition: 0.7s;
  // }

  // .splide__slide.is-active {
  //   opacity: 1;
  // }

  // .splide__pagination {
  //   gap: 0.5rem;
  //   margin: 1rem 0 0 !important;
  // }

  // .splide__pagination__page {
  //   width: 0.5rem;
  //   height: 0.5rem;
  //   background-color: gray;
  //   border-radius: 9999px;

  //   &is-active {
  //   }
  // }

  // .splide__pagination__page.is-active {
  //   background-color: white;
  // }
</style>
