---
import BaseHeader from '../components/BaseHeader.astro';
import BaseFooter from '../components/BaseFooter.astro';
import BaseScript from '../components/BaseScript.astro';

// import global styles
import '../styles/_destyle.scss';
import '../styles/_global.scss';
import '../styles/_utility.scss';
import '../styles/_splide-core.min.scss';

interface Props {
  title: string;
  pageType: string;
}

const { title, pageType } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://use.typekit.net/bmd1pfz.css" />
    <title>{title}</title>
  </head>
  <body class={pageType}>
    <BaseHeader />
    <slot />
    <BaseFooter />
    <BaseScript />
  </body>
</html>
